<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover_pic</key>
		<string>Expression_1</string>
		<key>type</key>
		<string>emoji</string>
		<key>group</key>
		<string>emoji</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>text</key>
				<string>哈哈</string>
				<key>image</key>
				<string>em01_01</string>
				<key>imageTag</key>
				<string>em01_01</string>
			</dict>
			<dict>
				<key>text</key>
				<string>酷</string>
				<key>image</key>
				<string>em01_02</string>
				<key>imageTag</key>
				<string>em01_02</string>
			</dict>
			<dict>
				<key>text</key>
				<string>笑哭</string>
				<key>image</key>
				<string>em01_03</string>
				<key>imageTag</key>
				<string>em01_03</string>
			</dict>
			<dict>
				<key>text</key>
				<string>亲亲</string>
				<key>image</key>
				<string>em01_04</string>
				<key>imageTag</key>
				<string>em01_04</string>
			</dict>
			<dict>
				<key>text</key>
				<string>疑问</string>
				<key>image</key>
				<string>em01_05</string>
				<key>imageTag</key>
				<string>em01_05</string>
			</dict>
			<dict>
				<key>text</key>
				<string>色色</string>
				<key>image</key>
				<string>em01_06</string>
				<key>imageTag</key>
				<string>em01_06</string>
			</dict>
			<dict>
				<key>text</key>
				<string>恶魔</string>
				<key>image</key>
				<string>em01_07</string>
				<key>imageTag</key>
				<string>em01_07</string>
			</dict>
			<dict>
				<key>text</key>
				<string>礼物</string>
				<key>image</key>
				<string>em01_08</string>
				<key>imageTag</key>
				<string>em01_08</string>
			</dict>
			<dict>
				<key>text</key>
				<string>666</string>
				<key>image</key>
				<string>em01_09</string>
				<key>imageTag</key>
				<string>em01_09</string>
			</dict>
			<dict>
				<key>text</key>
				<string>加一</string>
				<key>image</key>
				<string>em01_10</string>
				<key>imageTag</key>
				<string>em01_10</string>
			</dict>
			<dict>
				<key>text</key>
				<string>100分</string>
				<key>image</key>
				<string>em01_11</string>
				<key>imageTag</key>
				<string>em01_11</string>
			</dict>
			<dict>
				<key>text</key>
				<string>赞</string>
				<key>image</key>
				<string>em01_12</string>
				<key>imageTag</key>
				<string>em01_12</string>
			</dict>
			<dict>
				<key>text</key>
				<string>鼓掌</string>
				<key>image</key>
				<string>em01_13</string>
				<key>imageTag</key>
				<string>em01_13</string>
			</dict>
			<dict>
				<key>text</key>
				<string>礼花</string>
				<key>image</key>
				<string>em01_14</string>
				<key>imageTag</key>
				<string>em01_14</string>
			</dict>
			<dict>
				<key>text</key>
				<string>玫瑰</string>
				<key>image</key>
				<string>em01_15</string>
				<key>imageTag</key>
				<string>em01_15</string>
			</dict>
			<dict>
				<key>text</key>
				<string>钻石</string>
				<key>image</key>
				<string>em01_16</string>
				<key>imageTag</key>
				<string>em01_16</string>
			</dict>
			<dict>
				<key>text</key>
				<string>火箭</string>
				<key>image</key>
				<string>em01_17</string>
				<key>imageTag</key>
				<string>em01_17</string>
			</dict>
			<dict>
				<key>text</key>
				<string>爱心</string>
				<key>image</key>
				<string>em01_18</string>
				<key>imageTag</key>
				<string>em01_18</string>
			</dict>
			<dict>
				<key>text</key>
				<string>蛋糕</string>
				<key>image</key>
				<string>em01_19</string>
				<key>imageTag</key>
				<string>em01_19</string>
			</dict>
			<dict>
				<key>text</key>
				<string>咖啡</string>
				<key>image</key>
				<string>em01_20</string>
				<key>imageTag</key>
				<string>em01_20</string>
			</dict>
			<dict>
				<key>text</key>
				<string>懂了</string>
				<key>image</key>
				<string>em01_21</string>
				<key>imageTag</key>
				<string>em01_21</string>
			</dict>
			<dict>
				<key>text</key>
				<string>不懂</string>
				<key>image</key>
				<string>em01_22</string>
				<key>imageTag</key>
				<string>em01_22</string>
			</dict>
			<dict>
				<key>text</key>
				<string>A</string>
				<key>image</key>
				<string>em01_23</string>
				<key>imageTag</key>
				<string>em01_23</string>
			</dict>
			<dict>
				<key>text</key>
				<string>B</string>
				<key>image</key>
				<string>em01_24</string>
				<key>imageTag</key>
				<string>em01_24</string>
			</dict>
			<dict>
				<key>text</key>
				<string>C</string>
				<key>image</key>
				<string>em01_25</string>
				<key>imageTag</key>
				<string>em01_25</string>
			</dict>
			<dict>
				<key>text</key>
				<string>D</string>
				<key>image</key>
				<string>em01_26</string>
				<key>imageTag</key>
				<string>em01_26</string>
			</dict>
			<dict>
				<key>text</key>
				<string>E</string>
				<key>image</key>
				<string>em01_27</string>
				<key>imageTag</key>
				<string>em01_27</string>
			</dict>
			<dict>
				<key>text</key>
				<string>0</string>
				<key>image</key>
				<string>em01_28</string>
				<key>imageTag</key>
				<string>em01_28</string>
			</dict>
			<dict>
				<key>text</key>
				<string>1</string>
				<key>image</key>
				<string>em01_29</string>
				<key>imageTag</key>
				<string>em01_29</string>
			</dict>
			<dict>
				<key>text</key>
				<string>2</string>
				<key>image</key>
				<string>em01_30</string>
				<key>imageTag</key>
				<string>em01_30</string>
			</dict>
			<dict>
				<key>text</key>
				<string>3</string>
				<key>image</key>
				<string>em01_31</string>
				<key>imageTag</key>
				<string>em01_31</string>
			</dict>
			<dict>
				<key>text</key>
				<string>4</string>
				<key>image</key>
				<string>em01_32</string>
				<key>imageTag</key>
				<string>em01_32</string>
			</dict>
			<dict>
				<key>text</key>
				<string>5</string>
				<key>image</key>
				<string>em01_33</string>
				<key>imageTag</key>
				<string>em01_33</string>
			</dict>
			<dict>
				<key>text</key>
				<string>6</string>
				<key>image</key>
				<string>em01_34</string>
				<key>imageTag</key>
				<string>em01_34</string>
			</dict>
			<dict>
				<key>text</key>
				<string>7</string>
				<key>image</key>
				<string>em01_35</string>
				<key>imageTag</key>
				<string>em01_35</string>
			</dict>
			<dict>
				<key>text</key>
				<string>8</string>
				<key>image</key>
				<string>em01_36</string>
				<key>imageTag</key>
				<string>em01_36</string>
			</dict>
			<dict>
				<key>text</key>
				<string>9</string>
				<key>image</key>
				<string>em01_37</string>
				<key>imageTag</key>
				<string>em01_37</string>
			</dict>
			<dict>
				<key>text</key>
				<string>生气</string>
				<key>image</key>
				<string>em01_38</string>
				<key>imageTag</key>
				<string>em01_38</string>
			</dict>
			<dict>
				<key>text</key>
				<string>尴尬</string>
				<key>image</key>
				<string>em01_39</string>
				<key>imageTag</key>
				<string>em01_39</string>
			</dict>
			<dict>
				<key>text</key>
				<string>惊讶</string>
				<key>image</key>
				<string>em01_40</string>
				<key>imageTag</key>
				<string>em01_40</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
